body {
  width: 100%;
  min-height: 100vh; 
  margin: 0;
  background-image: url("https://i.pinimg.com/736x/4e/43/15/4e43155749a04e536651cf86e3c1e125.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  h1 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Almendra SC", serif;
    font-weight: 800;
    font-style: italic;
    font-size: 80px
  
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
  }


p {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: black;
    margin: 20px;
    text-align: justify;
    text-justify: inter-word;
}